.statusBadge {
    width: 10px;
    height: 10px;
    min-width: 10px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    margin-right: 6px;
}

.wip {
    background-color: #ffb638;
}

.completed {
    background-color: #00ce41;
}

.incomplete {
    background-color: #ff5526;
}